@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Roboto,sans-serif;
}

@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/robot/Roboto-Regular.ttf");
}